ADMIN_PASSWORD=test
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRY_HOURS=24
MONGO_URI=mongodb://localhost:27017
MONGO_DB=data
PHOTOS_COLLECTION=photos
PHOTO_BASE_URL=https://ptchtrns.com
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=ABCDE
AWS_SECRET_ACCESS_KEY=abcdeABCDE
S3_BUCKET=ptchtrns
