@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    @font-face {
        font-family: 'DINish';
        src: url('./assets/fonts/DINish[slnt,wdth,wght].woff2') format('woff2');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
    @theme {
        --font-ibm-plex-sans: 'DINish', sans-serif;
    }
    body, html {
        font-family: var(--font-ibm-plex-sans);
    }
}
