@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    @font-face {
        font-family: 'IBMPlexSans';
        src: url('./assets/fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "IBMPlexSans";
        src: url('./assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
    }
    @theme {
        --font-ibm-plex-sans: 'IBMPlexSans', sans-serif;
    }
    body, html {
        font-family: var(--font-ibm-plex-sans);
    }
}
